.dsc-div-carrostop {
  color: #FFF;

  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.dsc-div-rua {
  color: #FFF;

  font-family: Poppins;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}