.dsc-comp-cabacalho div {
  color: var(--dsc-color-font-secondary);
  text-align: center;
  font-family: Poppins;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 25px;
  margin-bottom: 5px;

}