@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
  --dsc-color-bg-primary: #fff;
  --dsc-color-bg-secondary: #3C9AF0;


  --dsc-color-font-primary: #fff;
  --dsc-color-font-secondary: #5E5E5E
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Poppins';
}

html, body {

  background-color: var(--dsc-color-bg-primary);
}

main {

  align-items: center;
}

.dsc-container {
  width: 100%;
  max-width: 980px;
  margin: 0px;

}

.dsc-header-container {
  text-align: center;
  align-items: center;
}

@media (min-width: 1200px) {
  .dsc-catalogo-main {
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .dsc-header-container {
    justify-content: center;


  }

  .dsc-footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3C9AF0;
    height: 120px;
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 49px;
    padding-bottom: 50px;
  }


}



@media (max-width: 320px) {
  .dsc-footer-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;

  }

  footer {
    display: flex;
    align-items: center;
  }
}